.button {
    padding: 0.75em 1em;
    font-size: 1rem;
    line-height: 1;
    border: none;
    border-radius: 1.5em;
    background-color: var(--neutral-900);
    color: var(--neutral-100);
    cursor: pointer;
    outline: 2px solid transparent;
    transition: color 0.25s ease, background-color 0.25s ease, outline-color 0.25s ease;
}

.button:focus {
    outline-color: var(--hint);
}

.button:hover:not(:disabled):not(.loading) {
    background-color: var(--neutral-800);
    outline-color: var(--neutral-700);
}

.button:disabled {
    background-color: var(--neutral-700);
    cursor: not-allowed;
}

.button.loading {
    background-color: var(--neutral-700);
    cursor: progress;
}
