.form {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    padding: 1.25rem 1rem;
    border: 1px solid var(--neutral-300);
    border-radius: 1rem;

    background-color: var(--neutral-200);
}