.passwordInput {
    position: relative;

    input {
        width: 100%;
    }
}

.toggle {
    position: absolute;
    height: 100%;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    right: 0;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 0.9rem;
    color: var(--primary-500);

    div {
        width: 1.25em;
        height: 1.25em;
    }
}